/* *, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.first{
    background: white;
    margin-left: 20px;
    /* padding-top: 40px; */

}

h2{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(94, 91, 91, 0.788);
}

.bleu{
    background: rgb(93, 165, 212);
}


.tit{
    margin-right: 500px;
}

.lign{
    position: relative;
    width: 55%;
    left: 20%;
    color: rgb(185, 173, 173);
}

.date{
    color: rgb(57, 127, 218);
}

.mx3{
    color: rgb(89, 162, 204);
}



.progress_bar .pro-bar {
    background: blue;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height:4px;
    margin-bottom: 20px;
    position: relative;
}
.progress_bar .progress-bar-inner {
    background-color: blue;
     display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}